/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/*Asterisk selector to remove default styles*/
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*General styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serifS;
    color: #4f0a0a;
}

h1{
    font-family: "Raleway", "Montserrat", sans-serif;
    letter-spacing: 2px;
    color: #701212;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    font-style: normal;
}

h2, h3{
    letter-spacing: 2px;
    font-weight: bold;
}

h2{
    text-transform: uppercase;
    padding-bottom: 10px;
}

/*Header*/
header{
background-color: #ffffff;
padding: 0 1rem;
position: fixed;
z-index: 99;
width: 100%;
box-shadow: rgba(58, 58, 58, 0.15) 0 5px 5px;
display: flex;
justify-content: space-between;
align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit;
}

/*Menu and navbar*/
#menu{
    font-size: 110%;
    list-style-type: none;
}

#menu li{
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid #4f0a0a;
}

/*Hovering effect on nav*/
#menu a:hover{
    border: solid 2px #701212;
    color: #fafafa;
    background-color: #b27e7e;
    border-radius: 5px;
}

/*Navbar styles with dropdown menu*/
nav{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    box-shadow:rgba(58, 58, 58, 0.15) 0 5px 5px;
    top: 100%;
}

/*Nav Toggle*/
#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}

/*Main Content*/
main{
    /*Make main element take any surplus space*/
    flex: 1 0 auto;
    margin-top: 53px;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

/*Hero Section Image*/
#hero{
    height: 650px;
    width: 100%;
    background: url("../images/pexels-marketingtuig-66639.webp") no-repeat center center/cover;
    position: relative;
}

/*Cover Text*/
#cover-text{
    background-color: rgba(216, 186, 186, 0.7);
    position: absolute;
    bottom: 30px;
    width: 80%;
    font-size: 130%;
    min-height: 100px;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-radius: 4px;
    left: 10px;
}

/*About Us Section*/
#about-us{
    text-align: center;
    padding-top: 1.5rem;
}

#about-us h2{
    padding-top: 10px;
    padding-bottom: 10px;
}

#about-us h3{
    font-size: 110%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-us-box{
    border-width: 5px;
}

.about-us-image{
    height: 200px;
}

#our-journey-text,
#culinary-expertise-text,
#the-joy-of-cooking-text,
#health-and-well-being-text{
    padding: 10px 5% 1rem 5%;
}

#our-journey-image,
#culinary-expertise-image,
#the-joy-of-cooking-image,
#health-and-well-being-image{
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
}

/*Images for About Us Section*/
#our-journey-image{
background: url(../images/pexels-cottonbro-3298637.jpg) center center / cover;
}

#culinary-expertise-image{
background: url(../images/pexels-cottonbro-3338497.jpg) center center / cover;
}

#the-joy-of-cooking-image{
background: url(../images/pexels-yente-van-eynde-1263034-2403391.jpg) center center / cover;
}

#health-and-well-being-image{
background: url(../images/pexels-yente-van-eynde-1263034-2403392.jpg) center center / cover;
}

/*Live Classes Section, Images for Live Classes*/
#live-classes > h2 {
padding-top: 15px;
padding-bottom: 15px;
text-align: center;
}

#italian-cuisine-image{
background: url(../images/mae-mu-Pvclb-iHHYY-unsplash.webp) no-repeat center center/cover;
width: 100%;
height: 150px;
opacity: 0.8;
background-size: cover;
}

#mexican-cuisine-image{
background: url(../images/diego-lozano-BpmEx2YgqWM-unsplash.webp) no-repeat center center/cover;
width: 100%;
height: 150px;
opacity: 0.8;
background-size: cover;
}

#french-cuisine-image{
background: url(../images/pexels-alex-gonzo-1518705084-27100872.webp) no-repeat center center/cover;
width: 100%;
height: 150px;
opacity: 0.8;
background-size: cover;
background-position: bottom;
}

.live-classes {
    color: #fafafa;
    text-align: center;
    padding-top: 30px;
}

/*Recipes page*/
#recipes{

}
/*Make it responsive*/
#recipes-images{
    min-height: 100vh;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    gap: 5px;
}

.recipes-img-text{
    text-align: center;
    height: 100%;
    width: 300px;
    border-radius: 10px;
}

.recipes-img{
    width: 300px;
    border-radius: 10px;
    height: 200px;
    
}

.recipe-text{
    height: 100%;
}

ul{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

#recipes > h2 {
    padding-top: 30px;
    text-align: center;
}

.recipe-text > h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Get Connected Page*/
#getconnected{
    background:url("../images/pexels-marketingtuig-66639.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#getconnected-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#getconnected-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa; 
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;   
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}

/*Footer*/
.social-media-recipes{
}

footer{
width: 100%;
margin-top: auto;
}

#social-networks{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i{
    font-size: 150%;
    padding: 5%;
    color: #701212;
}

/*Media query and add responsiveness for tablets or larger (768px and up)*/
@media screen and (min-width: 768px) {
    /*Make navbar visible again*/
    nav{
        display: flex;
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu{
        display: flex;
    }

    #menu > li{
        padding-left: 1rem;
    }

    .nav-toggle-label{
        display: none;
    }

    /* Main content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 79px;
    }

    /*About Us Section for Index Page*/
.about-us-box{
    max-width: 396px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#our-journey,
#culinary-expertise,
#the-joy-of-cooking,
#health-and-well-being{
    display: flex;
    justify-content: center;
    padding: 0, 5%, 0, 5%;
    padding-bottom: 10px;
}

#our-journey-image,
#culinary-expertise-image,
#the-joy-of-cooking-image,
#health-and-well-being-image{
    width: 100%;
}

#our-journey-image,
#the-joy-of-cooking-image{
    order: -1;
}

.about-us-text{
    align-items: center;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Get Connected Page*/
#getconnected {
    height: 650px;
    background-position: center;
    position: relative;
}

#getconnected-form {
    max-width: 400px;
    position: absolute;
    left: 10%;
    top: 150px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button:hover {
    background-color: #fafafa;
    color: #454b1b;
}


}

/*Media query for big diesktops (992px and up)*/
@media screen and (min-width: 992px) {
    /*Cover text for large screens*/
    #cover-text{
        width: 500px;
        font-size: 160%;
        right: 150px;
        top: 30px;
        height: 200px;
    }

    /*About Us Section For Index Page*/
    #about-us{
        min-width: 960px;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-self: center;
        margin: auto;
    }

    #our-journey,
#culinary-expertise,
#the-joy-of-cooking,
#health-and-well-being{
    width: 100%;
}

}