/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/*Asterisk selector to remove default styles*/
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*General styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serifS;
}

/*Header*/
header{

}

h1{
    font-family: "Raleway", "Montserrat", sans-serif;
}

/*Main Content*/
main{
    /*Make main element take any surplus space*/
    flex: 1 0 auto;

}

/*Footer*/
footer{

}