/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/*Asterisk selector to remove default styles*/
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*General styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serifS;
    color: #4f0a0a;
}

h1{
    font-family: "Raleway", "Montserrat", sans-serif;
    letter-spacing: 2px;
    color: #701212;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    font-style: normal;
}

h2, h3{
    letter-spacing: 2px;
    font-weight: bold;
}

h2{
    text-transform: uppercase;
    padding-bottom: 10px;
}

/*Header*/
header{
background-color: #ffffff;
padding: 0 1rem;
position: fixed;
z-index: 99;
width: 100%;
box-shadow: rgba(58, 58, 58, 0.15) 0 5px 5px;
display: flex;
justify-content: space-between;
align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit;
}

/*Menu and navbar*/
#menu{
    font-size: 110%;
    list-style-type: none;
}

#menu li{
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid #4f0a0a;
}

/*Hovering effect on nav*/
#menu a:hover{
    border: solid 2px #701212;
    color: #fafafa;
    background-color: #b27e7e;
    border-radius: 5px;
}

/*Navbar styles with dropdown menu*/
nav{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    box-shadow:rgba(58, 58, 58, 0.15) 0 5px 5px;
    top: 100%;
}

/*Nav Toggle*/
#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}

/*Main Content*/
main{
    /*Make main element take any surplus space*/
    flex: 1 0 auto;
    margin-top: 53px;
}

/*Hero Section Image*/
#hero{
    height: 650px;
    width: 100%;
    background: url("../images/pexels-marketingtuig-66639.jpg") no-repeat center center/cover;
    position: relative;
}

/*Cover Text*/
#cover-text{
    background-color: rgba(216, 186, 186, 0.7);
    position: absolute;
    bottom: 30px;
    width: 80%;
    font-size: 130%;
    min-height: 100px;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-radius: 4px;
    left: 10px;
}

/*Footer*/
footer{

}

#social-networks{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i{
    font-size: 150%;
    padding: 5%;
    color: #701212;
}

/*Media query and add responsiveness for tablets or larger (768px and up)*/
@media screen and (min-width: 768px) {
    /*Make navbar visible again*/
    nav{
        display: flex;
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu{
        display: flex;
    }

    #menu > li{
        padding-left: 1rem;
    }

    .nav-toggle-label{
        display: none;
    }

}

/*Media query for big diesktops (992px and up)*/
@media screen and (min-width: 992px) {
    /*Cover text for large screens*/
    #cover-text{
        width: 500px;
        font-size: 160%;
        right: 150px;
        top: 30px;
        height: 200px;
    }
}